* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'GeshinFont';
    /* Define a name for your font */
    src: url('fonts/Genshinfont.ttf') format('truetype');
    font-weight: normal;
    /* Adjust as needed */
    font-style: normal;
    /* Adjust as needed */
}

@font-face {
    font-family: 'GeshinFont2';
    /* Define a name for your font */
    src: url('fonts/zh-cn.ttf') format('truetype');
}

@font-face {
    font-family: 'Cairo';
    /* Define a name for your font */
    src: url('fonts/Cairo-Regular.ttf') format('truetype');
}

html {
    height: 100%;
}

body {
    background-image: url('media/arlebg_1096x552.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    backdrop-filter: blur(2px);
    background-color: rgb(185, 109, 109);
    min-height: 100%;
    font-family: 'GeshinFont2';
    display: flex;
    flex-direction: column;
}

header {
    border-bottom: 1px solid black;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: static;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.48);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}
.header-content {
    display: flex;
    flex-flow: row;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}
.logoHeader {
    
    margin: 0 20px 0 20px;


}

.logoHeader a {
    font-size: 50px;
    text-align: center;
    color: rgb(169, 3, 3);
    text-decoration: none;
    font-family: 'GeshinFont';

}
#logoText {
    
    margin: 0 20px 0 20px;


}

#logoText a {
    font-size: 50px;
    text-align: center;
    color: rgb(169, 3, 3);
    text-decoration: none;
    font-family: 'GeshinFont';

}



.myaccount img {
    width: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.myaccount {
    display: flex;
    flex-flow: column;
    align-items: center;
}
.myaccount p {
    color: rgb(169, 3, 3);
    font-size: 15px;
}
.myaccount a {
    font-size: 30px;
text-decoration: none;
color: rgb(169, 3, 3);
}
.page {

    display: flex;
    flex-direction: column;
    align-items: center;
}
.content ,  .content-story {
    margin-top: 20px;
    margin-bottom: 20px;
    /* min-height: 100vh; */
    width: 80%;
    background-color: rgba(255, 255, 255, 0.719);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    align-items: center;
    border: 2px solid black;
    box-shadow:  0px 0px 10px;
}

@media (max-width: 1080px) {
    .content {
        margin: 40px 0 0 0 ;
        width: 95%;
        padding: 10px;
        height: 45vh;
        display: flex;
        flex-flow: column;
        justify-content: center;

    }
    .content-story{
        margin: 40px 0 0 0 ;
        width: 95%;
        padding: 10px;
        display: flex;
        flex-flow: column;
        justify-content: center;
    }
}

#arabic {
    font-family: 'Cairo';
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 40px;
    

}
.arabictr {
    text-decoration: none;
    color: #a90303;
}
.text p {
    font-size: 26px;
    text-align: center;
    margin-bottom: 20px;
}

.text {
    margin-top: 10px;
    padding: 30px;
}
.textAr p {
    font-size: 26px;
    text-align: center;
    margin-bottom: 20px;
    font-family: "Cairo";
    font-weight: bold;
}
.entr {
    text-decoration: none;
    color: #a90303;
}
.textAr {
    margin-top: 10px;
    padding: 30px;
    direction: rtl;
}

.images {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;

}

.img {
    width: 100px;

}

.tandi {
    margin: 0 10px 0 10px;
}

.x {
    filter: brightness(0) saturate(100%)
        /* Make the image completely black and white */
        invert(23%) sepia(100%)
        /* Apply a red tint */
        saturate(10000%) hue-rotate(30deg) brightness(0.8);
}


#arrow {
    display: flex;
    flex-flow: column;
    align-items: center;
}

#arrow p {
    position: absolute;

}
.storycont {
    margin: 20px 0 40px 0;
}
.storycont p a {
    color: #a90303;
}

footer {
    margin-top: auto;
    height: fit-content;
    width: 100%;
    height: auto;
    background-color: rgb(88, 0, 0);
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    
}
.footerContent {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-flow: row;
    align-items: center;
    padding: 10px;
    justify-content: center;
    
}
@media (max-width: 1080px){
    .footerContent {
        width: 100%;
        display: flex;
        flex-flow: column;
        align-items: center;
        padding: 10px;
        justify-content: center;
        align-items: center;
        margin-right: 0;
        margin-top: 10px;
        position: relative;
        right: 0;
    }
}
.pookies {
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
}
.card12 {
    width: 40%;
    display: flex;
    flex-flow: row;
    justify-content: center;
    margin: 5px 0;
}
.pookies p {    
    color: white;
    font-size: 2rem;
}
.hgm {
    display: flex;
    flex-flow: row-reverse;
    
    
    }
    .rsj {
    display: flex;
    flex-flow: row;
    
    }
.card{
    width: 30%;
    width: fit-content;
    margin: 0 5px;
    align-items: flex-end;
    justify-content: center ;
}
.card a {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.card img {
    width: 100%;
}
.card a p {
    position: absolute;
    color: #a90303;
    font-weight: bold;
    font-family: 'GeshinFont';
} 

.card {
    width: 40%;
}
@media (max-width : 1080px) {
        .card {
            width: 60%;
            
            }
        .card12 {
            width: 60%;
            
            }
    }
@media (max-width : 720px) {
    .card {
        width: 100%;
        
        }
        
    .card12 {
        width: 90%;
        
        }
        
        
        
} 



/* check */
.stickersContainer {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: auto;

}
@media (max-width : 1080px ) {
    .stickersContainer{
        margin: 20px 0;
        height: 100px;
        width: 70%;
    }
}
#countdownText {
    display: none; /* Initially hide the countdown */
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}
.sticker {
    width: calc(100% / 3);
    height: calc(100%);
    margin:  20px 10px;
    border-radius: 30px;
    filter: blur(10px);

}
.itwasmedio {
    position: absolute;
    font-size: 50px;
    color: aliceblue;
    text-shadow: 
        -2px -2px 0 black,  
        2px -2px 0 black,  
        -2px  2px 0 black,  
        2px  2px 0 black;
    background-color: white;
    margin: 0 10px;
    cursor: pointer;
}
@media (max-width : 1080px) {
    .itwasmedio {
        font-size: 30px;
    }
    
}
